
*.tlog
*.obj
*.idb
*.pch
*.log
*.opendb
*.db
*.ilk
*.exe
Lab3/.vs/Lab3/v14/.suo
*.exe
*.pdb
*.db
*.vcxproj
*.exe
*.sln
*.ipch
*.filters
*.vcxproj
*.filters
OverloadingStudio/.vs/OverloadingStudio/v14/.suo
Lab3/Lab3/Lab3.vcxproj
Lab3/Lab3.VC.db
Lab3/Debug/Lab3.exe
Lab3/Debug/Lab3.exe
OverloadingStudio/OverloadingStudio/ReadMe.txt
*.filters
Lab3/Lab3/Lab3.vcxproj
Lab3/Lab3/Lab3.vcxproj.filters
Lab3/Lab3.VC.db
*.db
OverloadingStudio/OverloadingStudio/OverloadingStudio.cpp
OverloadingStudio/OverloadingStudio/stdafx.h
OverloadingStudio/OverloadingStudio/stdafx.cpp
OverloadingStudio/OverloadingStudio/targetver.h
OverloadingStudio/OverloadingStudio/Header.h
Lab3/Debug/Lab3.exe
Lab3/Debug/Lab3.exe
